body {
    font-family: 'Inter', sans-serif;
    background-image: url('../images/stadium.jpg');
    background-size: cover;
    /* background-repeat: no-repeat;
    height: 100%; */
}

header {
    background: rgb(228, 227, 227);
}

.logoFUT {
    height: 40px;
    width: 45px;
}
