body {
    font-family: 'Inter', sans-serif;
    background-image: url('../images/stadium.jpg');
    background-size: cover;
    /* background-repeat: no-repeat;
    height: 100%; */
}

header {
    background: rgb(228, 227, 227);
    /* padding: 10px 20px; */

}

header img {
    height: 40px;
    width: 45px;
}

main {
    position: relative;
    height: 100vh;

}

/* .stadium-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    aspect-ratio: 16/9;
} */

.stadium-image {
    width: 70%;
    height: auto;
}